<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL Shrinker</h1>

    <form action="/shortUrls" method="POST">

        <label for="fullUrl">URL</label>
        <input type="url" name="fullUrl" id="fullUrl">
        <button type="submit">Shrink</button>

    </form>

    <table>
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Short Url</th>
                <th>Clicks</th>
            </tr>
        </thead>

        <tbody>
            <% shortUrls.forEach(shortUrl => { %>
                <tr>
                    <td>
                        <a href="<%= shortUrl.full %>">
                            <%= shortUrl.full %>
                        </a>
                    </td>
                    <td>
                        <a href="<%= shortUrl.short %>">
                            <%= shortUrl.short %>
                        </a>
                    </td>                    
                    <td>
                        <%= shortUrl.clicks %>
                    </td>
                </tr>
            <% }) %>
           
        </tbody>
    </table>
</body>
</html>